.advantages {
    padding: 60px 0;

    @media (min-width: 768px) {
        padding: 88px 0;
    }

    &__subheading {
        font-size: 16px;
        color: #8C8C8C;
        margin-bottom: 2rem;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__img {
        img {
            max-width: 268px;
        }
    }
    &__item {
        max-width: 584px;
    }

    &__title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
    }
    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 17px;
    }
    &__descr {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }
    &__first-block {
        width: 50%;
        flex: 0 0 50%;
        padding-right: 15px;

        @media (min-width: 768px) {
            width: 100%;
            flex: 0 0  100%;
        }

        @media (min-width: 992px) {
            width: 50%;
            flex: 0 0 50%;
        }
    }
    &__second-block {
        width: 50%;
        flex: 0 0 50%;

        @media (min-width: 768px) {
            width: 100%;
            flex: 0 0 100%;
        }

        @media (min-width: 992px) {
            width: 50%;
            flex: 0 0 50%;
        }
    }
    &__box {
        min-height: 132px;
        margin-top: 32px;
    }
    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        padding-top: 16px;
        margin-bottom: 5px;
    }
    &__subtext {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #8C8C8C;
    }

}