.applications {
    background-color: #CBE6FF;
    padding: 60px 0;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68px;
        height: 68px;
        background-color: #ffffff;
        border-radius: 100%;
        img {
            width: 42px;
            height: 42px;
        }
    }
    @media (min-width: 768px) {
        padding: 88px 0;
    }

    &__item {
        display: flex;
        justify-content: center;
    }
    &__title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        max-width: 789px;
        margin-top: 24px;
    }
    &__apps {
        max-width: 378px;
        display: flex;
        justify-content: space-between;
        margin: 32px auto 0 auto;
    }
}