.actions__btn {
    text-decoration: none;
    padding: 16px 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 50px;

    &:hover,
    &:focus {
        color: #fff;
        background: #000;
    }

    @media (max-width: 767px) {
        margin: 0 auto;
    }
}