.footer {
    background-color: #060606;
    padding: 48px 0 40px 0;
    color: #ffffff;
    &__logo {
        img {
            width: 152px;
        }
    }
    &__items {
        display: flex;
    }
    &__contacts-links {
        display: flex;
    }
    &__item {
        padding: 0 15px;
    }

    &__logo-text {
        padding-top: 16px;
        line-height: 1.5;
    }
    &__nav {
        line-height: 24px; 
    }
    &__nav-title {
        font-weight: 500;
        font-size: 16px;
    }
    &__nav-items {
        padding-top: 24px;
        line-height: 1.4;
    }
    &__nav-item {
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }

        a {
            text-decoration: none;
            color:#ffffff;
            font-size: 14px;
            font-weight: 400;

            &:hover,
            &:focus {
                color: rgba(255, 255, 255, .7)
            }
        }
    }
    // Contacts
    &__contacts-title {
        font-weight: 500;
        font-size: 16px;
    }
    &__contacts-wrapper {
        padding-top: 29px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;

        > * {
            margin-bottom: 20px;
        }
    }
    &__phonebox, &__mailbox, &__instabox, &__adressbox {
        position: relative;
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            color:#ffffff;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__phonebox::before {
        content: url('../icons/ic_phone.svg');
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
    }
    &__mailbox::before {
        // content: url('../icons/ic_mail.svg');
        content: '@';
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    &__instabox::before {
        content: url('../icons/ic_instagram-fill.svg');
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
    }
    &__adressbox::before {
        content: url('../icons/ic_location.svg');
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
    }

    &__phone, &__mail, &__insta, &__adress {
        padding-left: 32px;
    }
    &__phone {
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
    //Footer apps
    &__googleplay {
        margin-top: 16px;
    }
    &__app-link {
        width: 140px;
        display: block;
        border: 2px solid #ffffff;
        border-radius: 5px;
        img {
            width: 100%;
        }
    }

    //Divider 
    .divider {
        border-bottom: 1px solid #8C8C8C;
        padding-top: 40px;
    }
    &__mini-text {
        margin-top: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #8C8C8C;
        text-align: center;
    }
}