header {
    background-color: #CBE6FF;
    z-index: 100;
    position: fixed;
    width: 100%;
}
.navbar {
    max-width: 100%;
    width: 100%;
    background-color: #CBE6FF;
    a {
        text-decoration: none;
    }
    &__logo {
        img {
            width: 152px;
        }
    }
    &__inner-background {
        width: 100%;
        background-color: #CBE6FF;
        height: 92px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        padding: 25px 15px;
        background-color: #CBE6FF;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        margin-left: auto
    }

    &__items {
        display: flex;
        align-items: center;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;

        @media (max-width: 991px) {
            display: none;
        }
    }
    &__hamburger-logo-close-btn {
        display: none;
    }
    &__item {
        display: block;
        margin: 0 16px;
    }
    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 12px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #000A22;

        &:hover,
        &:focus {
            color: #0075E3;
        }

        &_last {
            display: block;
            color:#0075E3;
            background-color: #ffffff;
            padding: 16px 32px;
            line-height: 11px;
            height: 40px;
            cursor: pointer;
            margin: 0 0 0 19px;
            border-radius: 50px;
            border: none;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            img {
                display: none;
            }
        }
        
    }
}

.menu__close-box {
    display: none;
    position: absolute;
    top: 12px;
    right: 16px;
    .close-btn {
        background: none;
        border: none;
    }    
}