

.carousel {
    padding: 45px 0;
    background: #F9F9F9;

    @media (min-width: 768px) {
        padding: 45px 0 0 0;
    }

    &__inner {
        margin: 0 auto;
    }
    &__image{
        max-width: 311px;
        max-height: 411px;
    }
    &__slide-wrapper {

        @media (min-width: 768px) {
            display: flex !important;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
        }
    }

    &__content {
        max-width: 411px;
        padding-bottom: 4rem;
        text-align: center;
        padding-top: 2rem;

        @media (min-width: 768px) {
            text-align: left;
            padding-top: 0;
        }
    }

    &__slide-title {
        font-family: 'Gilroy', sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #000A22;
    }

    &__slide-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000A22;
        margin-top: 16px;
    }

    &__btn {
        color: #FFFFFF;
        text-decoration: none;
        padding: 16px 32px;
        background: #0075E3;
        border-radius: 50px;
        text-align: center;
        margin-top: 32px;
        display: inline-flex;
        width: max-content;

        &:hover,
        &:focus {
            background: #0062BD;
        }
    }
    
    &__slide-content {
        text-align: center;
    }
    &__sec-bg {
        background-color:#FFFFFF;
    }
    
    .prev {
        display: none;
    }
    
    .slick-next {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;

        @media (max-width: 767px) {
            display: none !important;
        }
    }

    .slick-slide img {
        @media (min-width: 768px) {
            width: 100%;
        }
    }
}

.slick-dots {
    display: flex !important;
    justify-content: center;
    font-size:0;
    padding:0;

    @media (min-width: 768px) {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    li {
        margin: 0 4px;
        border-radius: 0;

        &.slick-active {

            button {
                background: #2C86DA;
            }
        }

        button {
            width: 32px;
            height: 4px;
            border-radius: 32px;
            background: #DCDCDC;
            border: 0;
        }
    }
}